/*font-family: 'Noto Serif', serif;*/
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Roboto', sans-serif;*/

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    /*    make it max*/

}

body {
    align-self: center;
    margin: auto;

}

body > div {
    width: 1200px;
    align-self: center;
    margin: auto;
}


.pageheading {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 28px;
    color: #283C4A;
}

.navbar {
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

}

.navbar div {
    flex: 1;
    text-align: center;
    /*border-left: 1px solid black;*/
    transition: font-weight 1ms;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: rgba(40, 60, 74, 0.5);
    padding-bottom: 15px;
    padding-top: 15px;

}

.navbar div:first-child {
    /*color: red;*/
    font-weight: bold;
    border-bottom: 2px solid deepskyblue;
    color: rgba(40, 60, 74, 1.0);
}

.navbar div:hover {
    color: rgba(40, 60, 74, 1.0);
    cursor: pointer;
    background-color: #dfe3e7;
}


.sub-body {
    display: flex;
    flex-direction: column;
}

.topsection {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    padding-bottom: 25px;
    border-bottom: 2px solid #f0f0f0;
}

.topleft {
    flex: 2;
    display: flex;
    flex-direction: column;
    /*margin-right: 25px;*/
    /*padding-right: 25px;*/
    border-right: 2px solid #f0f0f0;
}

.popular-imgdiv {
     /*flex: 1;*/
    max-height: 100%;
    max-width: 100%
}

.pop-content {
    flex: 1;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    /*align-self: flex-start;*/
}

.popular-hl {
    font-size: 33px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    color: #283C4A;

}

.other-hl {
    font-size: 22px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    /*margin-bottom: 10px;*/
    color: #283C4A;
}

.topright {
    border-right: 2px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.topsection .topright:last-child{
    border-right: 0;
}


.other-news {
    padding-left: 25px;
    padding-right: 15px;
    /*border-right: 2px solid #f0f0f0;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #283C4A;
    font-family: 'Noto Serif', serif;
    margin-top: 15px;
    padding-bottom: 15px;
}

.topleft > div {
    margin-bottom: 15px;
    margin-right: 20px;
}

.pop-content > div {
    margin-bottom: 10px;
}

.other-news > div {

    margin-bottom: 10px;
}

.other-news-body {
    display: flex;
    flex-direction: row;
    flex: 2;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
}

.other-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 4;
    font-size: 16px;
    padding-right: 8px;

}

.other-imgdiv {
    flex: 3;
}

.news-stats-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 14px;
    color: #acb0b4;
    /*margin-top: 10px;*/
}

.footer-right {
    display: flex;

}

.popular-src, .other-src {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 14px;
    color: #acb0b4;
}

.other-src {
    margin-top: 10px;
}

.footer-left {
    font-weight: bold;
    color: #acb0b4;
}

.footer-right > div:first-child {
    margin-right: 10px;
}


.other-news .other-imgdiv img {
    padding-left: 5px;

}

.other-news .other-imgdiv {
    align-self: flex-start;
}

.mid-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    border-bottom: 2px solid #f0f0f0;
}

.topright > div:first-child {
    margin-top: 0;
}

.topright > div {

    border-bottom: 2px solid #f0f0f0;
}

.topright > div:last-child {
    padding-top: 0;
    border-bottom: 0 dotted black;
}

.mid-section > div:first-child {
    padding-left: 0;
}


.sub-body > .mid-section {
    /*border-bottom: 2px solid #f0f0f0;*/
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.sub-body > .mid-section:last-child {
    margin: 0;
    padding: 0;

}

.sub-body > .mid-section:last-child .other-news-body {
    flex-direction: row;
}


.mid-section .other-imgdiv {
    margin-left: 0;
    padding-left: 0;
    margin-right: 10px;
}

.mid-section {
    padding-top: 10px;
}

.fa-comments-o {
    font-size: 20px;
}
.imgicon{
    padding-left: 0;
    height: 18px;
    width: 18px;
    color: #dfe3e7;
    filter: invert(84%) sepia(10%) saturate(158%) hue-rotate(4deg) brightness(85%) contrast(89%);
}
.imgcomments{
    display: flex;
}
.comments{
    margin-left: 5px;
}
.mid-section > div {
    padding-left: 25px;
    padding-right: 15px;
    border-right: 2px solid #f0f0f0;
}

.mid-section > div:last-child {
    padding-right: 0;
    border-right: 0 dotted black;
}

.btm-section {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.btm-section .btm-news:first-child {
    border-right: 2px solid #f0f0f0;
    margin-right: 5px;
    padding-right: 18px;
    padding-left: 0;
    /*padding-right: 15px;*/
}

.btm-news {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.btm-news-hl {
    font-size: 22px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    /*margin-bottom: 10px;*/
    color: #283C4A;
}

.btm-news-img {
    flex: 1;
    align-self: flex-start;
}

.btm-news-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
}

.btm-news-src {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 14px;
    color: #acb0b4;
    margin-top: 10px;
    margin-bottom: 10px;
}